lib/strata_api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- This document is used by JAXB to generate Java classes at project build time. Most entities can be the top-level payload 
	of an REST API response or embedded in another entity. -->
<xs:schema targetNamespace="http://www.redhat.com/gss/strata" elementFormDefault="qualified" version="1.14.0-SNAPSHOT-SNAPSHOT"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="http://www.redhat.com/gss/strata" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc">

	<xs:annotation>
		<xs:documentation>Red Hat Customer Portal API</xs:documentation>
		<xs:appinfo>
			<jaxb:globalBindings>
				<xjc:serializable uid="11" />
				<jaxb:javaType xmlType="xs:dateTime" name="java.util.Calendar" parseMethod="javax.xml.bind.DatatypeConverter.parseDateTime"
					printMethod="javax.xml.bind.DatatypeConverter.printDateTime" />
				<!-- Global binding for xs to java boolean to allow case insensitivity -->
				<jaxb:javaType xmlType="xs:boolean" name="boolean"
					parseMethod="com.redhat.gss.avalon.strata.rest.BooleanDatatypeConverter.parseBoolean" />
			</jaxb:globalBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="strataEntity" abstract="true">
		<xs:annotation>
			<xs:documentation>The base type for all API entities.</xs:documentation>
		</xs:annotation>
	</xs:complexType>

	<xs:complexType name="trackedEntity" abstract="true">
		<xs:annotation>
			<xs:documentation>The base type for entities that maintain create and update information.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:strataEntity">
				<xs:sequence>
					<xs:element name="createdBy" type="xs:string" minOccurs="0" maxOccurs="1" />
					<xs:element name="createdDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
					<xs:element name="lastModifiedBy" type="xs:string" minOccurs="0" maxOccurs="1" />
					<xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="base_link">
		<xs:annotation>
			<xs:documentation>ATOM link type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:strataEntity">
				<xs:sequence>
					<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="title" type="xs:string" use="optional" />
				<xs:attribute name="rel" type="xs:string" use="optional" />
				<xs:attribute name="href" type="xs:string" use="optional" />
				<xs:attribute name="type" type="xs:string" use="optional" />
				<!-- This is not standard and is for backwards compatibility only -->
				<xs:attribute name="uri" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="problems">
		<xs:annotation>
			<xs:documentation>A list of problem reports.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element ref="tns:link" />
				<xs:element ref="tns:problem" />
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="problem">
		<xs:annotation>
			<xs:documentation>A problem report.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element ref="tns:link" />
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="solutions">
		<xs:annotation>
			<xs:documentation>A list of solutions.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:solution" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="articles">
		<xs:annotation>
			<xs:documentation>A list of articles.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:article" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sqiRating">
		<xs:annotation>
			<xs:documentation>An SQI Rating for a KCS Solution.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>

						<xs:element name="solution" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A link to the Solution this sqiRating is applicable to.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:anyURI">
										<xs:attribute name="rel" type="xs:string" use="optional" default="solution" />
										<xs:attribute name="solutionId" type="xs:string" use="optional" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>

						<xs:element name="completeTitle" type="xs:integer" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Is the title complete?</xs:documentation>

							</xs:annotation>
						</xs:element>

						<xs:element name="adheresToContentStandard" type="xs:integer" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Solution adheres to current template, style, and formatting guidelines in the content
									standard?
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="accuratelyReflectsProblem" type="xs:integer" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Does the issue accurately reflect the customer's problem and context?</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="isUnique" type="xs:integer" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Is article unique?</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="clearAndConcise" type="xs:integer" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Is content clear and concise?</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="metadataSetCorrectly" type="xs:integer" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Is article metadata set correctly?</xs:documentation>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="solution">
		<xs:annotation>
			<xs:documentation>A KCS Solution. Some elements have subelements called "html" and "text". The "html" field
				is a "safe value" field. It is the text field containing HTML markup rendered from the markdown stored in
				"value". The "html" field is not editable. The "text" field is the editable field that may contain
				markdown.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>

						<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Solution identifier assigned by backing system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="tnid" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Translated Solution identifier assigned by backing system.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>RESTful URI for this solution resource.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="uidName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Author name.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Portal URI for this solution resource.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The title of the solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="authorSSOName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The SSO username of the user that authored the solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="lastModifiedBySSOName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The SSO username of the user that last modified the solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
                                  The language the solution is written in.  When a solution is retrieved from drupal,
                                  this field is the language as set by the author of the solution.  When a solution
                                  is retrieved from Calaveras, this is the language as set by drupal unless that is
                                  empty or null, in which case this is set by Calaveras from detectLanguage.  If
                                  language detection fails, it is set by Calaveras to be 'en'.
                                </xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="issue" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A description of the issue the solution resolves.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="environment" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A description of the environment the solution applies to.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resolution" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A description of the resolution proposed to resolve the issue.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="rootCause" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A description of the underlying cause of the issue.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="internalDiagnosticSteps" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A description of the diagnostic steps a technician should take to diagnose the issue.
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="externalDiagnosticSteps" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A description of the diagnostic steps a customer should take to diagnose the issue.
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Summary of the solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Tags associated with the solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="case" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A case linked to this solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="supportNeed" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A support need linked to this solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A description tag for the solution.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="published" type="xs:boolean" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Is the solution published?</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="hasPublishedRevision" type="xs:boolean" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Does a published revision of this solution exist?</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="isLocked" type="xs:boolean" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Is the solution locked?</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="lockedBy" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Who locked the solution?</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="lockedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>When was the solution locked?</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="lockExpiresAt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>When will the lock expire?</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="duplicateOf" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Links to duplicates of the solution</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="rel" type="xs:string" use="optional" default="solution" />
										<xs:attribute name="solutionId" type="xs:string" use="optional" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>

						<xs:element name="body" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>body of solution/article</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="kcsState" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The state in the KCS lifecycle the solution is currently in. The
									possible states are "wip", "verified", and "unverified".
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="sbrs">
							<xs:annotation>
								<xs:documentation>SBRs for this solution resource.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="sbr" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ModerationState" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The moderation state the solution is currently in.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="caseCount" type="xs:int" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The count of cases linked to this solution. This only appears
									in search results and recommendations.
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									This is a short summary of the Solution suitable for display as part of search results. If a particular solution
									does not have this field set; then one is automatically created by Calaveras.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="extract" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									This field is only set when the solution is part of search results (or recommendations). This is an excerpt from
									the solution which contains the section(s) of the solution that best indicate why this solution matched the
									search query.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="explanation" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Lucene search result explanation of why and how well this document matches the search query.
									This field is only set when the solution is part of search results (or recommendations).
									This field is only for debugging purposes. See 'extract' for a more generally useful field.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="detectedLanguage" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
                                  Only for solutions returned from Calaveras.
                                  Language of the solution detected by Google's language-detection.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="setLanguage" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
                                  Only for solutions returned from Calaveras.
                                  The language as set by the author in drupal.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Product for which this solution is meant for.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="indexedDate" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Time when the solution has been indexed.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="article">
		<xs:annotation>
			<xs:documentation>A KCS Article. Some elements have subelements called "html" and "text". The "html" field
				is "safe value" field. It is the text field rendered as HTML so there is no markup in the "html" field and
				it is not editable. The "text" field is an editable field that may contain HTML markup.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>

						<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A unique identifier for the solution assigned by the backing system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						
					 <xs:element name="tnid" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Translated Solution identifier assigned by backing system.</xs:documentation>
							</xs:annotation>
					</xs:element>

						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>RESTful URI for this solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="uidName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Author name.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Portal URI for this solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<!-- BOOKMARK -->
						<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Title</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="authorSSOName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>AuthorSSOName. This field is required by the model
									but the schema allows it to be omitted so
									that field-level updates are possible.
								</xs:documentation>


							</xs:annotation>
						</xs:element>
						<xs:element name="lastModifiedBySSOName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>lastModifiedBySSOName. This field is required by the model
									but the schema allows it to be
									omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>language of the node/solution. This field is required by the model
									but the schema allows it to
									be omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="issue" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>

						</xs:element>
						<xs:element name="environment" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
							<!-- <xs:annotation> <xs:documentation>Attributes of the environment that make this problem a problem. Valid values 
								are available from the values service. </xs:documentation> </xs:annotation> -->
						</xs:element>
						<xs:element name="resolution" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>

							</xs:complexType>

						</xs:element>
						<xs:element name="rootCause" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>

						</xs:element>
						<xs:element name="internalDiagnosticSteps" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
							<!-- <xs:annotation> <xs:documentation>Internal summary of steps that are used in troubleshooting.</xs:documentation> 
								</xs:annotation> -->
						</xs:element>
						<xs:element name="articleBody" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>

							</xs:complexType>

						</xs:element>
						<xs:element name="externalDiagnosticSteps" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>External summary of steps that are used in troubleshooting.</xs:documentation>
							</xs:annotation>
						</xs:element>


						<!-- <xs:element name="containerId" type="xs:string" minOccurs="0" maxOccurs="1"/> -->
						<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Short summary or the first n words from the contents</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Tags associated with the solution</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="case" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
							<!-- <xs:attribute name="rel" type="xs:string" use="optional" default="case"/> <xs:attribute name="caseNumber" type="xs:string" 
								use="optional"/> -->
							<xs:annotation>
								<xs:documentation>A Case linked to this Solution.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string" />
									<xs:element name="html" type="xs:string" />
								</xs:sequence>
							</xs:complexType>


						</xs:element>

						<xs:element name="published" type="xs:boolean" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Is Solution published?</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="duplicateOf" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="rel" type="xs:string" use="optional" default="solution" />
										<xs:attribute name="solutionId" type="xs:string" use="optional" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
							<!-- <xs:annotation> <xs:documentation>A link to Duplicates of this Solution.</xs:documentation> </xs:annotation> -->
						</xs:element>

						<!-- <xs:element name="sqiRating" type="sqiRating" minOccurs="0" maxOccurs="1"> <xs:annotation> <xs:documentation>SQI 
							Rating</xs:documentation> </xs:annotation> </xs:element> -->

						<xs:element name="kcsState" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>KCS State</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="body" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Text body of the article without markdown.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="explanation" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Lucene search result explanation of why and how well this document matches the search query.
									This field is only set when the solution is part of search results (or recommendations).
									This field is only for debugging purposes. See 'extract' for a more generally useful field.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!-- Lightweight emulation of ATOM link -->
	<xs:element name="link">
		<xs:annotation>
			<xs:documentation>Simple ATOM link type.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:base_link">
					<!-- The following are non-standard fields and attributes not dictated by ATOM -->
					<xs:attribute name="ssoUsername" type="xs:string" use="optional" />
					<xs:attribute name="explanation" type="xs:string" use="optional" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="source">
		<xs:annotation>
			<xs:documentation>The source of a problem</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required">
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="attachments">
		<xs:annotation>
			<xs:documentation>A list of attachments.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:attachment" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="attachment">
		<xs:annotation>
			<xs:documentation>A file attachment and related meta data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="caseId" type="xs:string" />
						<xs:element name="uuid" type="xs:string" />
						<xs:element name="etag" type="xs:string" />
						<xs:element name="uri" type="xs:anyURI" />
						<xs:element name="fileDate" type="xs:dateTime" />
						<xs:element name="fileName" type="xs:string" />
						<xs:element name="description" type="xs:string" />
						<xs:element name="mimeType" type="xs:string" />
						<xs:element name="length" type="xs:long" />
						<xs:element name="active" type="xs:boolean" />
						<xs:element name="deprecated" type="xs:boolean" />
						<xs:element name="private" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false" />
					</xs:sequence>
					<xs:attribute name="caseNumber" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="recommendations">
		<xs:annotation>
			<xs:documentation>A list of suggestions.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:recommendation" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="recommendation">
		<xs:annotation>
			<xs:documentation>A suggestion referring to a solution and related meta data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="algorithmScore" type="xs:double" />
						<xs:element name="analysisAlgorithm" type="xs:string" />
						<xs:element name="analysisAlgorithmVersion" type="xs:string" />
						<xs:element name="analysisCategory" type="xs:string" />
						<xs:element name="analysisModule" type="xs:string" />
						<xs:element name="analysisService" type="xs:string" />
						<xs:element name="analysisServiceVersion" type="xs:string" />
						<xs:element name="bucket" type="xs:string" />
						<xs:element name="caseNumber" type="xs:string" />
						<xs:element name="client" type="xs:string" />
						<xs:element name="clientVersion" type="xs:string" />
						<xs:element name="display" type="xs:boolean" />
                                                <xs:element name="analysisStatus" type="xs:string" />
						<xs:element name="firstSuggestedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
						<xs:element name="keywords" type="xs:string" />
						<xs:element name="lastSuggestedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
						<xs:element name="linked" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="linkedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
						<xs:element name="linkedBy" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="location" type="xs:string" />
						<xs:element name="luceneScore" type="xs:double" />
						<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="note" type="xs:string" />
						<xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="pinnedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
						<xs:element name="pinnedBy" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="relevanceScore" type="xs:int" minOccurs="0" maxOccurs="1" />
						<xs:element name="resource" type="xs:string" />
						<xs:element name="resourceId" type="xs:string" />
						<xs:element name="resourceType" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="resourceURI" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="resourceViewURI" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="rule" type="xs:string" />
						<xs:element name="ruleVersion" type="xs:string" />
						<xs:element name="scoringAlgorithmVersion" type="xs:double" />
						<xs:element name="solutionId" type="xs:string" />
						<xs:element name="solutionKcsState" type="xs:string" />
						<xs:element name="solutionOwnerSSOName" type="xs:string" />
						<xs:element name="solutionTitle" type="xs:string" />
						<xs:element name="solutionAbstract" type="xs:string" />
						<xs:element name="solutionUrl" type="xs:string" />
						<xs:element name="suggestedCount" type="xs:double" minOccurs="0" maxOccurs="1" />
						<xs:element name="suggestionRelevanceScore" type="xs:double" minOccurs="0" maxOccurs="1" />
						<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="tracebackUrl" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="solutionCaseCount" type="xs:int" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The count of cases linked to this solution.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="language" type="xs:string">
							<xs:annotation>
								<xs:documentation>
                                  This field is set based on the first of the following that is not empty or null:
                                     the language field returned by drupal
                                     the language as detected by Calaveras
                                     'en'
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="detectedLanguage" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The language of the suggestion detected by language-detection tool.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="setLanguage" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The language of the suggestion set by the author in drupal.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ModerationState" type="xs:string" />
						<xs:element name="hasPublishedVersion" type="xs:string" />
						<xs:element name="product" type="xs:string" />
						<xs:element name="indexedDate" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="groups">
		<xs:annotation>
			<xs:documentation>A list of groups.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:group" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="group">
		<xs:annotation>
			<xs:documentation>A group that may contain zero or more cases.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence><!-- <xs:element name="id" type="xs:string" /> -->
						<xs:element name="number" type="xs:string" />
						<xs:element name="name" type="xs:string" />
						<xs:element name="uri" type="xs:anyURI" />
						<xs:element name="isPrivate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
					</xs:sequence>
					<!--<xs:attribute name="number" type="xs:string" use="optional" /> -->
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="account">
		<xs:annotation>
			<xs:documentation>An account that may organizes users. It is represented in a simplified manner on the
				Strata API.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element name="hasGroupACLs" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="isSecure" type="xs:boolean" minOccurs="0" maxOccurs="1" />
					</xs:sequence>
					<xs:attribute name="number" type="xs:string" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="users">
		<xs:annotation>
			<xs:documentation>A list of users.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:user" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="user">
		<xs:annotation>
			<xs:documentation>The user entity reflects a Red Hat Login user.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<!-- TODO Where does ID come from? -->
						<!-- TODO Perhaps internal only? -->
						<xs:element name="id" type="xs:string" />
						<xs:element name="firstName" type="xs:string" />
						<xs:element name="lastName" type="xs:string" />
						<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="accountId" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
						<!-- TODO Consider as enumerated type -->
						<xs:element name="preferredLanguage" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" />
						<!-- TODO Consider as enumerated type -->
						<xs:element name="timezone" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="orgAdmin" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="tamContact" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="access" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="hasChat" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="sessionId" type="xs:string" minOccurs="0" maxOccurs="1" />

						<!-- TODO Add roles element -->
						<!-- TODO Consider adding link/relation element to use for account -->
					</xs:sequence>
					<xs:attribute name="ssoUsername" type="xs:string" use="optional" />
					<xs:attribute name="uri" type="xs:anyURI" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="cases">
		<xs:annotation>
			<xs:documentation>A list of support cases. This type serves as both a top-level construct in the case that a query
				returns a list of support cases as well as an embedded construct as part of a larger item. This element is not
				required to contain any child case elements.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of support cases. This type serves as both a
					top-level construct in the case that a query
					returns a list of
					support cases as well as an embedded construct as part of a larger
					item. This element is not
					required to contain any child
					case elements.
				</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:case" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="case">
		<xs:annotation>
			<xs:documentation>A support case.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Case identifier assigned by backing system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>RESTful URI for this case resource.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Title or short summary. This field is required by the model
									but the schema allows it to be
									omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Description of the problem or question. This field is required by the model
									but the schema
									allows it to be omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Case status. Valid values are available from
									the values service.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Product this case relates to. Valid products
									are available from the products resource. This
									field is required by the model
									but the schema allows it to be omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="component" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Component this case relates to (optional). Valid
									components for a given product are available
									from the values
									service.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Version of the product this case relates to.
									Valid versions for a given product are available
									from the products
									resource.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Type of case, i.e. question, problem, etc.
									Valid types are available from the values service.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Account number this case belongs to. This field is required
									by the model but the schema allows
									it to be omitted so that field-level updates
									are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Portal URI for this solution.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="escalated" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="contactName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="contactSsoUsername" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="owner" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="internalPriority" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="internalStatus" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedPhone" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedEmail" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="severity" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="folderNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element ref="tns:comments" minOccurs="0" />
						<xs:element ref="tns:notified_users" minOccurs="0" />
						<xs:element ref="tns:entitlement" minOccurs="1" maxOccurs="1" />
						<xs:element ref="tns:recommendations" minOccurs="0" maxOccurs="1" />
					</xs:sequence>
					<xs:attribute name="caseNumber" type="xs:string" use="optional" />
					<xs:attribute name="closed" type="xs:boolean" use="optional" />
					<xs:attribute name="alternateId" type="xs:string" use="optional" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="supportNeed">
		<xs:annotation>
			<xs:documentation>A support need.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Case identifier assigned by backing system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>RESTful URI for this support need resource.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Title or short summary. This field is required by the model
									but the schema allows it to be
									omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Description of the problem or question. This field is required by the model
									but the schema
									allows it to be omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Case status. Valid values are available from
									the values service.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Product this case relates to. Valid products
									are available from the products resource. This
									field is required by the model
									but the schema allows it to be omitted so that field-level updates are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="component" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Component this case relates to (optional). Valid
									components for a given product are available
									from the values
									service.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Version of the product this case relates to.
									Valid versions for a given product are available
									from the products
									resource.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Type of case, i.e. question, problem, etc.
									Valid types are available from the values service.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Account number this case belongs to. This field is required
									by the model but the schema allows
									it to be omitted so that field-level updates
									are possible.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Portal URI for this solution.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="escalated" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="contactName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="contactSsoUsername" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="owner" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="internalPriority" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="internalStatus" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedPhone" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedEmail" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="severity" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="folderNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element ref="tns:comments" minOccurs="0" />
						<xs:element ref="tns:notified_users" minOccurs="0" />
						<xs:element ref="tns:entitlement" minOccurs="1" maxOccurs="1" />
						<xs:element ref="tns:solutions" minOccurs="1" maxOccurs="1" />
					</xs:sequence><!-- <xs:attribute name="caseNumber" type="xs:string" use="optional" /> <xs:attribute name="closed" type="xs:boolean" 
						use="optional" /> -->
					<xs:attribute name="alternateId" type="xs:string" use="optional" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="comments">
		<xs:annotation>
			<xs:documentation>A list of comments</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:comment" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="comment">
		<xs:annotation>
			<xs:documentation>A support case comment and associated metadata.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
						<xs:element name="public" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true" />
						<xs:element name="draft" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false" />
						<xs:element name="publishedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
						<xs:element name="view_uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Portal URI for this comment.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" />
					<xs:attribute name="caseNumber" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="notified_users">
		<xs:annotation>
			<xs:documentation>A list of users notified by email when the parent case is modified</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:link" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="products">
		<xs:annotation>
			<xs:documentation>A list of products.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:product" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="product">
		<xs:annotation>
			<xs:documentation>A product.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A short, unique, human-readable code identifying this product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The formal product brand name.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="tns:suggested_artifacts" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A list of Artifacts.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="suggested_artifacts">
		<xs:annotation>
			<xs:documentation>A list of Artifacts.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:suggested_artifact" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="suggested_artifact">
		<xs:annotation>
			<xs:documentation>A Artifact.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The formal Artifact name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The formal Artifact description</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="versions">
		<xs:annotation>
			<xs:documentation>A list of product versions.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="values">
		<xs:annotation>
			<xs:documentation>A list of name/value pairs. Both names and values are String typed. List can contain zero or more
				elements. Values are nullable.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="value" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
							<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="entitlements">
		<xs:annotation>
			<xs:documentation>A list of Entitlements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:entitlement" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="entitlement">
		<xs:annotation>
			<xs:documentation>entitlement and related meta data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>RESTful URI for SLA.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="name" type="xs:string" />
						<xs:element name="sla" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="supportLevel" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="serviceLevel" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="startDate" type="xs:date" />
						<xs:element name="endDate" type="xs:date" />
					</xs:sequence>
					<!-- <xs:attribute name="account" type="xs:string" use="required" /> -->
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="error">
		<xs:annotation>
			<xs:documentation>Provides error code and description for Starta API</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="xs:string" />
				<xs:element name="message" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="systemProfiles">
		<xs:annotation>
			<xs:documentation>A list of systemProfiles.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:systemProfile" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="systemProfile">
		<xs:annotation>
			<xs:documentation>systemProfile and related meta data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="caseNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="attachmentHash" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="deprecated" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="hash" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element ref="tns:SystemProfileCategory" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="symptoms">
		<xs:annotation>
			<xs:documentation>A list of Symptoms.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:strataEntity">
					<xs:sequence>
						<xs:element ref="tns:symptom" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="symptom">
		<xs:annotation>
			<xs:documentation>symptom and related meta data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="caseNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="data" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="display" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element ref="tns:problemSymptomParameters" minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>RESTful URI.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="problemSymptomParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="SystemProfileCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SystemProfileCategoryName" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="SystemProfileCategorySummary" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element ref="tns:SystemProfileCategoryDetails" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SystemProfileCategoryDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
